<!DOCTYPE html>

<p>Please add your badass food item below.</p>
<form action="/" method="post">
  <label for="POST-name">New Item:</label>
  <input id="POST-name" type="text" name="name">
  <input type="submit" value="Add New Item">
</form>